*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 公共文字样式 */
.p1 .text, .p2 .text, .p3 .text, .p4 .text, .p5 .text, .p6 .text, .p7 .text {
    text-indent: -133.32rem;
}
p1 .text-bottom, .p2 .text-bottom, .p3 .text-bottom, .p4 .text-bottom, .p5 .text-bottom, .p6 .text-bottom, .p7 .text-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1.2rem;
    margin-bottom: 1.33333rem;
}
.p1 .text-top, .p2 .text-top, .p3 .text-top, .p4 .text-top, .p5 .text-top, .p6 .text-top, .p7 .text-top {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1.2rem;
    margin-top: 1.6rem;
}
.p1 .num, .p2 .num, .p3 .num, .p4 .num, .p5 .num, .p6 .num, .p7 .num {
    color: #fff;
    font-size: 1.66667rem;
    line-height: 1;
}
.p8 .cube-1 span, .p9 .cube-1 span, .p10 .cube-1 span, .p11 .cube-1 span {
    display: inline-block;
    width: .22667rem;
    height: 100%;
    background-color: #ff1224;
}
.p8 .text-title, .p9 .text-title, .p10 .text-title, .p11 .text-title {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: .85333rem;
    margin-top: 2.08rem;
    color: #000;
    font-size: .64rem;
}
html{
    font-size: 37.5px;
}
body{
    font-size: 0.18rem;
}
html,body{
    width: 100%;
    height: 100%;
}
/*music 按钮*/
.music-btn{
    z-index: 9;
    position: fixed;/*相对于整个浏览器的窗口定位*/
    top: 25px;
    left: 25px;
    width: 40px;
    height: 40px;
    background: url(http://kfc.normcore.com/bft_burger/static/images/icon-play.png) 
    no-repeat center / cover;
}
.music-btn.off{
    background-image:url(http://kfc.normcore.com/bft_burger/static/images/icon-mute.png);
}
.swiper-container {
    width: 100%;
    height: 100%;
} 

/* p1 */
.p1{
    background-color: #ff1224;
}
.p1 .light,.p1 .slogon{
    position: absolute;
    top: 50%;
    left: 50%;
}
.p1 .light{
    width: 7.73rem;
    height: 10.49rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/p1-light_7df180.png)no-repeat;
    background-size: 100% auto;
    margin-left: -3.86rem;
    margin-top: -5.2rem;
}
.p1.swiper-slide-active .slogon{
    animation: fadeInup .5s .3s both;
}
@keyframes fadeInup{
    0%{
        opacity: 0;
        transform: translate3d(0,100%,0);

    }
    100%{
        opacity: 1;
        transform: none;
        
    }
}
.p1 .slogon{
    width: 2.74rem;height: 2.44rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.text_2b7b0a.png);
    background-position: -5.38rem 0;
    margin-left: -1.37rem;
    margin-top: -1.68rem;
    background-size: 51.58rem 2.44rem;
    text-indent: -133.32rem;
}
/* swiper-slide p2 */
.p2 .bg,.p2 .light{
    position: absolute;
    left: 0;
}
.p2 .bg{
    top: 0;
    width: 100%;
    height: 100%;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/bg-scene-01_9c56fc.jpg)no-repeat bottom;
    background-size: 100% auto;
}
.p2 .light{
    bottom: 0;
    width: 8.712rem;
    height: 15.14rem;
    margin-left: -0.533rem;
    margin-bottom: -1.6rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/light-scene-01_bd4007.png)no-repeat ;
    background-size: 100% auto;
}
.p2 .dog{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.8rem;
    width: 3.6rem;
    height: 3.6rem;
    margin-top: -1.8rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/dog-scene-01_8098ad.png)
    no-repeat;
    background-size: 100% auto;

    
}
.p2 .text-top{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1.2rem;
    margin-top: 1.6rem;
}
.p2 .text-top{
    width: 1.58rem;
    height: 0.56rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.scene_c9deac.png);
    background-position: -4.05rem 0;
    margin-top: 4.26rem;
    
}
.p2 .text{
    text-indent: -133rem;
}
.p2 .text-top{
    background-size: 32.49rem 2.26rem;

}

.p2 .text-bottom{
    width: 3.4rem;
    height: 1.85rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.scene_c9deac.png);
    background-size: 32.49rem 2.26rem;
    background-position: -19.33rem 0;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1.2rem;
    margin-bottom: 1.33rem;
}
.p2 .num{
    font-size: 52px;
    color:#fff;
    position: relative;
    left: 72px;
    top: 90px;
}

/* p3 */
.num1{
    color: #fff;
    font-size: 2.66667rem;
    line-height: 1;
}
.p3 .bg{
    position: absolute;
    left: 0;
}
.p3 .light-1, .p3 .light-2 {
    position: absolute;
    bottom: 0;
    left: 0;
}
.p3 .bg{
    top: 0;
    width: 100%;
    height: 100%;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/bg-scene-02_8a15db.jpg)no-repeat bottom;
    background-size: 100% auto;
}
.p3 .light-1 {
    margin-bottom: 4.26667rem;
    margin-left: -1.06667rem;
    width: 6.8rem;
    height: 3.53333rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/light-scene-02-2_5dd307.png) no-repeat 0 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
.p3 .dog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.8rem;
    margin-top: -4.53333rem;
    width: 4.56rem;
    height: 8.73333rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/dog-scene-02_a8f96b.png) no-repeat 0 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
.p3 .light-2{
    margin-bottom: 3.2rem;
    margin-left: -1.33333rem;
    width: 14.76rem;
    height: 7.66667rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/light-scene-02-1_0fe3a3.png) no-repeat 0 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

.p3 .text-top {
    width: 1.46667rem;
    height: .54667rem;
    background-image: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.scene_c9deac.png);
    background-position: -2.56rem 0;
    margin-top: 4.26667rem;
}
.p3 .text-top {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1.2rem;
    margin-top: 4.5rem;
}

.p3 .text-bottom {
    width: 3.33333rem;
    height: 2.26667rem;
    background-image: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.scene_c9deac.png);
    background-position: -12.61333rem 0;
}
.p3 .text-bottom, .p3 .text-top {
    -webkit-background-size: 32.49333rem 2.26667rem;
    background-size: 32.49333rem 2.26667rem;
}
.p3 .text-top{
    margin-top: 4.5rem!important;
}

/* p4*/

.p4 .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/bg-scene-03_84f0d4.jpg) no-repeat bottom;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

.p4 .text-bottom, .p4 .text-top {
    -webkit-background-size: 32.49333rem 2.26667rem;
    background-size: 32.49333rem 2.26667rem;
}
.p4 .text-top {
    width: 3.33333rem;
    height: 2.25333rem;
    background-image: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.scene_c9deac.png);
    background-position: -9.25333rem 0;
}
.p4 .light {
    margin-left: -4.06667rem;
    margin-top: -6.66667rem;
    width: 8.13333rem;
    height: 13.36rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/light-scene-03_10d833.png) no-repeat 0 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
.p4 .dog, .p4 .light {
    position: absolute;
    top: 50%;
    left: 50%;
}
.p4 .dog {
    margin-left: -.8rem;
    margin-top: -4.53333rem;
    width: 4.56rem;
    height: 8.73333rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/dog-scene-03_d49ae4.png) no-repeat 0 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
.p4 .text-bottom {
    width: 1.92rem;
    height: .56rem;
    background-image: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.scene_c9deac.png);
    background-position: -7.30667rem 0;
}
.p4 .num {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1.06667rem;
    margin-bottom: 2rem;
    
}

/* p5 */
.p5 {
    background-color: #197fb4;
}
.p5 .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/bg-scene-04_9b6216.jpg) no-repeat bottom;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
.p5 .light-1, .p5 .light-2 {
    position: absolute;
    top: 50%;
    left: 50%;
}
.p5 .light-2 {
    margin-top: .53333rem;
    margin-left: -5.33333rem;
    width: 8.24rem;
    height: 4.8rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/light-scene-04-2_a0155e.png) no-repeat 0 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
.p5 .dog {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8rem;
    margin-bottom: -2rem;
    width: 17.14667rem;
    height: 10.64rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/dog-scene-04_c4a847.png) no-repeat 0 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
.p5 .text-top {
    width: 4.37333rem;
    height: 1.82667rem;
    background-image: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.scene_c9deac.png);
    background-position: -22.76rem 0;
    -webkit-background-size: 32.49333rem 2.26667rem;
    background-size: 32.49333rem 2.26667rem;
}
.p5 .num, .p5 .text-bottom {
    position: absolute;
    top: 0;
    left: 0;
}
.p5 .num {
    margin-left: 1.06667rem;
    margin-top: 4rem;
}
.p5 .text-bottom {
    width: 1.06667rem;
    height: .56rem;
    background-image: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.scene_c9deac.png);
    background-position: 0 0;
    margin-top: 6.66667rem;
    -webkit-background-size: 32.49333rem 2.26667rem;
    background-size: 32.49333rem 2.26667rem;
}

/* p6 */
.p6 {
    background-color: #1f1c29;
}
.p6 .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/bg-scene-05_a7f894.jpg) no-repeat bottom;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
.p6 .dog, .p6 .light {
    position: absolute;
    top: 50%;
    left: 50%;
}

.p6 .light {
    margin-left: -5.86667rem;
    margin-top: -4.8rem;
    width: 10.13333rem;
    height: 16.13333rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/light-scene-05_0bca9b.png) no-repeat 0 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
.p6 .dog {
    margin-left: -2.26667rem;
    margin-top: -3.46667rem;
    width: 4.74667rem;
    height: 6.36rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/dog-scene-05_a50ef5.png) no-repeat 0 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
.p6 .text-bottom, .p6 .text-top {
    -webkit-background-size: 32.49333rem 2.26667rem;
    background-size: 32.49333rem 2.26667rem;
}
.p6 .text-top {
    width: 3.33333rem;
    height: 2.26667rem;
    background-image: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.scene_c9deac.png);
    background-position: -15.97333rem 0;
}
.p6 .text-bottom {
    width: 1.61333rem;
    height: .57333rem;
    background-image: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.scene_c9deac.png);
    background-position: -5.66667rem 0;
}
.p6 .num {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1.06667rem;
    margin-bottom: 2rem;
}
/* p7 */
.p7 {
    background-color: #080316;
}
.p7 .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/bg-scene-06_55535a.jpg) no-repeat bottom;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
.p7 .light-1 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1.06667rem;
    margin-bottom: 1.06667rem;
    width: 6.56rem;
    height: 9.70667rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/light-scene-06-1_a1a53d.png) no-repeat 0 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
.p7 .dog, .p7 .light-2 {
    position: absolute;
    top: 50%;
    left: 50%;
}

.p7 .light-2 {
    margin-top: -7.46667rem;
    margin-left: -4.8rem;
    width: 9.33333rem;
    height: 15.78667rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/light-scene-06-2_6e1326.png) no-repeat 0 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
.p7 .dog {
    margin-left: -4rem;
    margin-top: -7.73333rem;
    width: 9.69333rem;
    height: 13.69333rem;
    background: url(http://wqs.jd.com/promote/201707/2018campus/img/dog-scene-06_c52edc.png) no-repeat 0 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
.p7 .text-bottom, .p7 .text-top {
    -webkit-background-size: 32.49333rem 2.26667rem;
    background-size: 32.49333rem 2.26667rem;
}
.p7 .text-top {
    width: 5.33333rem;
    height: 1.86667rem;
    background-image: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.scene_c9deac.png);
    background-position: -27.16rem 0;
}
.p7 .text-bottom {
    width: 1.44rem;
    height: .56rem;
    background-image: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.scene_c9deac.png);
    background-position: -1.09333rem 0;
}
.p7 .num {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1.06667rem;
    margin-bottom: 2rem;
}


/* p8*/
.p8{
    background: #ff1e00;

}
.p8.in .cube-1, .p8.swiper-slide-active .cube-1 {
    -webkit-animation: fadeInRight .5s .5s both;
    animation: fadeInRight .5s .5s both;
}
.p8 .cube-1 span {
    display: inline-block;
    width: .22667rem;
    height: 100%;
    background-color: #fff;
}
.p8 .cube-cnt-2, .p8 .cube-cnt-3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 5.33333rem;
    height: 1.2rem;
}
.p8 .cube-2 {
  
    -webkit-transform: rotate(-45deg) translate3d(3.06667rem,0,0);
    transform: rotate(-45deg) translate3d(3.06667rem,0,0);
    -webkit-animation: cube-1-anim .8s .8s both;
    animation: cube-1-anim .8s .8s both;
}
.p8 .cube-cnt-2, .p8 .cube-cnt-3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 5.33333rem;
    height: 1.2rem;
}
.p8 .cube-2, .p8 .cube-3 {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10.26667rem;
    margin-right: 0.66667rem;
    width: 5.33333rem;
    height: 1.2rem;
    background-image: -webkit-gradient(linear,right top,left top,from(hsla(0,0%,100%,.5)),to(hsla(0,0%,100%,0)));
    background-image: -webkit-linear-gradient(right,hsla(0,0%,100%,.5),hsla(0,0%,100%,0));
    background-image: linear-gradient(-90deg,hsla(0,0%,100%,.5),hsla(0,0%,100%,0));
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    animation: cube-anim .8s .8s both;
}

.p8 .cube-cnt-2 {
    -webkit-animation: cube-cnt-1-anim 1.5s ease-in-out infinite alternate;
    animation: cube-cnt-1-anim 1.5s ease-in-out infinite alternate;
}
.p8 .cube-2 span, .p8 .cube-3 span {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -.36rem;
    margin-right: -.36rem;
    width: .70667rem;
    height: .70667rem;
    background-color: #fff;
    -webkit-transform: rotate(51deg) skew(20deg);
    transform: rotate(51deg) skew(20deg);
}
.p8 .cube-cnt-3 {
    -webkit-animation: cube-cnt-2-anim 1s ease-in-out infinite alternate;
    animation: cube-cnt-2-anim 1s ease-in-out infinite alternate;
}
.p8 .cube-3 {
    margin-top: 14.13333rem;
    margin-right: 2.66667rem;
    -webkit-transform: rotate(-45deg) translate3d(1.6rem,0,0) scale(.8);
    transform: rotate(-45deg) translate3d(1.6rem,0,0) scale(.8);
    -webkit-animation: cube-2-anim .8s .8s both;
    animation: cube-2-anim .8s .8s both;
    opacity: .5;
}
.p8 .log-ran, .p8 .text-slogon{
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -133.32rem;
    margin-left: 0.85333rem;
}
.p8 .logo-ran{
    width: 1.9rem;
    height: 1.73rem;
    background-image: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.other_5adc1e.png);
    background-position: -3.02rem 0;
    margin-top: 1.6rem;
    background-size: 14.56rem 4.64rem;
    
}
.p8 .text-slogon{
    width: 5.7333rem;
    height: 1.9733rem;
    background-image: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.text_2b7b0a.png);
    background-position: -31.73rem 0;
    margin-top: 5.6533rem;
    background-size: 51.58rem 2.44rem;
}
.p8 .text-detail, .p8 .text-title{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0.85rem;
    color: #fff;
}
.p8 .text-title{
    margin-top: 9.38rem;
    width: auto;
    height: auto;
    font-size: 0.45rem;
    background: none;
}
.p8 .text-detail {
    margin-top: 10.26rem;
    font-size: 0.266rem;
    line-height: 1.8;
}
.p8.swiper-slide-active .logo-ran{
    animation: fadeInRight .5s .3s both;
}
.p8.swiper-slide-active .text-slogon{
    animation: fadeInRight .5s .4s both;
}
.p8.swiper-slide-active .text-title{
    animation: fadeInRight .5s .5s both;
}
.p8.swiper-slide-active .text-detail{
    animation: fadeInRight .5s .6s both;
}
@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translate3d(50%,0,0);
   
        }
   100%{
            opacity: 1;
            transform:none;
       }
}
@keyframes cube-1-anim{
    0% {
        opacity: 0;
        -webkit-transform: rotate(-45deg) translateZ(0);
        transform: rotate(-45deg) translateZ(0);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: rotate(-45deg) translate3d(3.06667rem,0,0);
        transform: rotate(-45deg) translate3d(3.06667rem,0,0);
    }
}
@keyframes cube-2-anim{
    0% {
        opacity: 0;
        -webkit-transform: rotate(-45deg) translateZ(0) scale(.8);
        transform: rotate(-45deg) translateZ(0) scale(.8);
    }
    
    100% {
        opacity: .5;
        -webkit-transform: rotate(-45deg) translate3d(1.6rem,0,0) scale(.8);
        transform: rotate(-45deg) translate3d(1.6rem,0,0) scale(.8);
    }
}
/* p9 */
.p9 {
    background-color: #fff;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.p9.in .cube-1, .p9.swiper-slide-active .cube-1 {
    -webkit-animation: fadeInRight .5s .3s both;
    animation: fadeInRight .5s .3s both;
}
.p9.in .text-title, .p9.swiper-slide-active .text-title {
    -webkit-animation: fadeInRight .5s .4s both;
    /* animation: fadeInRight .5s .4s both; */
}
.p9 .text-title {
    margin-top: 1.86667rem;
}
.p9 .schedule-cnt, .p9 .text-title {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: .85333rem;
}   
.p9 .schedule-cnt {
    margin-top: 4.4rem;
    width: 100%;
}

.p9 .schedule-cnt, .p9 .text-title {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: .85333rem;
}
.p9.in .cube-1, .p9.in .part-1, .p9.in .part-2, .p9.in .part-3, .p9.in .part-4, .p9.in .text-title, .p9.swiper-slide-active .cube-1, .p9.swiper-slide-active .part-1, .p9.swiper-slide-active .part-2, .p9.swiper-slide-active .part-3, .p9.swiper-slide-active .part-4, .p9.swiper-slide-active .text-title {
    display: block!important;
}
.p9 .schedule-cnt .part {
    position: relative;
    text-indent: -133.32rem;
}
.p9.in .part-1 .date, .p9.swiper-slide-active .part-1 .date {
    -webkit-animation: fadeInRight .5s .45s both;
    animation: fadeInRight .5s .45s both;
}

.p9 .part-1 .content, .p9 .part-1 .date {
    -webkit-background-size: 51.58667rem 2.44rem;
    background-size: 51.58667rem 2.44rem;
}
.p9 .part-1 .date {
    width: 5.66667rem;
    height: .56rem;
    background-image: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.text_2b7b0a.png);
    background-position: -20.29333rem 0;
}
.p9.in .part-1 .content, .p9.swiper-slide-active .part-1 .content {
    -webkit-animation: fadeInRight .5s .5s both;
    animation: fadeInRight .5s .5s both;
}

.p9 .schedule-cnt .part .content {
    margin-top: .26667rem;
}
.p9 .part-1 .content {
    width: 1.26667rem;
    height: .30667rem;
    background-image: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.text_2b7b0a.png);
    background-position: 0 0;
}
.p9 .part-1 .content, .p9 .part-1 .date {
    -webkit-background-size: 51.58667rem 2.44rem;
    background-size: 51.58667rem 2.44rem;
}
.p9 .schedule-cnt .part+.part {
    margin-top: .77333rem;
}
.p9.in .part-2 .date, .p9.swiper-slide-active .part-2 .date ,.p9.in .part-3 .date, .p9.swiper-slide-active .part-3 .date,.p9.in .part-4 .date, .p9.swiper-slide-active .part-4 .date{
    -webkit-animation: fadeInRight .5s .55s both;
    animation: fadeInRight .5s .55s both;
}
.p9 .part-2 .content, .p9 .part-2 .date ,.p9 .part-3 .content, .p9 .part-3 .date,.p9 .part-4 .content, .p9 .part-4 .date{
    -webkit-background-size: 51.58667rem 2.44rem;
    background-size: 51.58667rem 2.44rem;
}
.p9 .part-2 .date,.p9 .part-3 .date,.p9 .part-4 .date {
    width: 5.82667rem;
    height: .56rem;
    background-image: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.text_2b7b0a.png);
    background-position: -37.49333rem 0;
}
.p9.in .part-2 .content, .p9.swiper-slide-active .part-2 .content ,.p9.in .part-3 .content, .p9.swiper-slide-active .part-3 .content,.p9.in .part-4 .content, .p9.swiper-slide-active .part-4 .content{
    -webkit-animation: fadeInRight .5s .6s both;
    animation: fadeInRight .5s .6s both;
}

.p9 .schedule-cnt .part .content {
    margin-top: .26667rem;
}
.p9 .part-2 .content ,.p9 .part-3 .content,.p9 .part-4 .content{
    width: 1.28rem;
    height: .30667rem;
    background-image: url(http://wqs.jd.com/promote/201707/2018campus/img/sprite.text_2b7b0a.png);
    background-position: -2.6rem 0;
}
.p9 .part-2 .content, .p9 .part-2 .date ,.p9 .part-3 .content, .p9 .part-3 .date,.p9 .part-4 .content, .p9 .part-4 .date{
    -webkit-background-size: 51.58667rem 2.44rem;
    background-size: 51.58667rem 2.44rem;
}

/* p10 */
.p10 {
    background-color: #ff1224;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.p10.in .cube-1, .p10.swiper-slide-active .cube-1 {
    -webkit-animation: fadeInRight .5s .3s both;
    animation: fadeInRight .5s .3s both;
}

.p10.in .cube-1, .p10.in .location-cnt, .p10.in .text-title, .p10.swiper-slide-active .cube-1, .p10.swiper-slide-active .location-cnt, .p10.swiper-slide-active .text-title {
    display: block!important;
}
.p10 .cube-1 {
    background-image: -webkit-gradient(linear,left top,right top,from(hsla(0,0%,100%,.8)),to(hsla(0,0%,100%,0)));
    background-image: -webkit-linear-gradient(left,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
    background-image: linear-gradient(90deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
}

.p10.in .text-title, .p10.swiper-slide-active .text-title {
    -webkit-animation: fadeInRight .5s .4s both;
    animation: fadeInRight .5s .4s both;
}

.p10.in .cube-1, .p10.in .location-cnt, .p10.in .text-title, .p10.swiper-slide-active .cube-1, .p10.swiper-slide-active .location-cnt, .p10.swiper-slide-active .text-title {
    display: block!important;
}
.p10 .text-title {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: .85333rem;
    margin-top: 1.86667rem;
    color: #fff;
}
.p10.in .location-cnt, .p10.swiper-slide-active .location-cnt {
    display: block;
}

.p10.in .cube-1, .p10.in .location-cnt, .p10.in .text-title, .p10.swiper-slide-active .cube-1, .p10.swiper-slide-active .location-cnt, .p10.swiper-slide-active .text-title {
    display: block!important;
}
.p10 .location-cnt, .p10 .location-cnt .anim-cnt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.p10 .location-cnt {
    right: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-animation: fadeIn .3s .4s both;
    animation: fadeIn .3s .4s both;
}
.p10 .location-cnt {
    display: none;
}
.p10 .location-cnt .anim-cnt:first-child {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.p10 .location-cnt .anim-cnt {
    -webkit-animation: anim-cnt-anim 1s .5s ease-in-out infinite alternate;
    animation: anim-cnt-anim 1s .5s ease-in-out infinite alternate;
}
.p10 .location-cnt, .p10 .location-cnt .anim-cnt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.p10 .location-cnt .cube-cnt.cube-cnt-1 {
    margin-top: -2.66667rem;
    -webkit-animation: location-1-anim .5s .4s both;
    animation: location-1-anim .5s .4s both;
}
.p10 .location-cnt .cube-cnt {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.86667rem;
    height: 6.66667rem;
    background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.5)),to(hsla(0,0%,100%,0)));
    background-image: -webkit-linear-gradient(top,hsla(0,0%,100%,.5),hsla(0,0%,100%,0));
    background-image: linear-gradient(-180deg,hsla(0,0%,100%,.5),hsla(0,0%,100%,0));
}
.p10 .location-cnt .cube-cnt .name {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -1.28rem;
    width: 100%;
    color: #fff;
    font-size: .42667rem;
    text-align: center;
    letter-spacing: .02667rem;
}
.p10 .location-cnt .cube-cnt .cube {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -.48rem;
    margin-left: -.53333rem;
    width: 1.06667rem;
    height: .96rem;
    background-color: #fff;
    -webkit-transform: rotate(-31deg) skew(28deg);
    transform: rotate(-31deg) skew(28deg);
}
.p10 .location-cnt .cube-cnt.cube-cnt-2 {
    margin-top: -1.54667rem;
    margin-left: -2.05333rem;
    -webkit-transform: scale(.6);
    transform: scale(.6);
    -webkit-animation: location-2-anim .6s .4s both;
    animation: location-2-anim .6s .4s both;
}
.p10 .location-cnt .cube-cnt.cube-cnt-2 .name {
    margin-top: -1.49333rem;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
}
.p10 .location-cnt .cube-cnt.cube-cnt-3 {
    margin-left: -1.6rem;
    margin-top: .69333rem;
    -webkit-transform: scale(.4);
    transform: scale(.4);
    -webkit-animation: location-3-anim .7s .4s both;
    animation: location-3-anim .7s .4s both;
}
.p10 .location-cnt .cube-cnt.cube-cnt-3 .name {
    margin-top: -1.76rem;
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
}
.p10 .location-cnt .cube-cnt.cube-cnt-4 {
    margin-left: -1.17333rem;
    margin-top: 1.86667rem;
    -webkit-transform: scale(.36);
    transform: scale(.36);
    -webkit-animation: location-4-anim .8s .4s both;
    animation: location-4-anim .8s .4s both;
}
.p10 .location-cnt .cube-cnt.cube-cnt-4 .name {
    margin-top: -1.86667rem;
    -webkit-transform: scale(2);
    transform: scale(2);
}
.p10 .location-cnt .cube-cnt.cube-cnt-5 {
    margin-top: -2.98667rem;
    margin-left: -4rem;
    -webkit-transform: scale(.4);
    transform: scale(.4);
    -webkit-animation: location-5-anim .9s .4s both;
    animation: location-5-anim .9s .4s both;
}
.p10 .location-cnt .cube-cnt.cube-cnt-5 .name {
    margin-top: -1.70667rem;
    -webkit-transform: scale(2);
    transform: scale(2);
}
.p10 .location-cnt .cube-cnt.cube-cnt-6 {
    margin-top: -.13333rem;
    margin-left: -4.58667rem;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-animation: location-6-anim 1s .4s both;
    animation: location-6-anim 1s .4s both;
} 
.p10 .location-cnt .cube-cnt.cube-cnt-6 .name {
    margin-top: -1.6rem;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
}
.p10 .location-cnt .cube-cnt.cube-cnt-7 {
    margin-top: -6.4rem;
    margin-left: 1.65333rem;
    -webkit-transform: scale(.3);
    transform: scale(.3);
    -webkit-animation: location-7-anim .9s .4s both;
    animation: location-7-anim .9s .4s both;
}
.p10 .location-cnt .cube-cnt.cube-cnt-7 .name {
    margin-top: -1.86667rem;
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
}
.p10 .location-cnt .cube-cnt.cube-cnt-8 {
    margin-top: -1.81333rem;
    margin-left: .96rem;
    -webkit-transform: scale(.35);
    transform: scale(.35);
    -webkit-animation: location-8-anim .6s .4s both;
    animation: location-8-anim .6s .4s both;
}
.p10 .location-cnt .cube-cnt.cube-cnt-8 .name {
    margin-top: -1.6rem;
    -webkit-transform: scale(2);
    transform: scale(2);
}
.p10 .location-cnt .cube-cnt.cube-cnt-9 {
    margin-top: -2.50667rem;
    margin-left: 2.13333rem;
    -webkit-transform: scale(.3);
    transform: scale(.3);
    -webkit-animation: location-9-anim .8s .4s both;
    animation: location-9-anim .8s .4s both;
}

.p10 .location-cnt .cube-cnt.cube-cnt-9 .name {
    margin-top: -1.86667rem;
    -webkit-transform: scale(2.4);
    transform: scale(2.4);
}
.p10 .location-cnt .cube-cnt.cube-cnt-10 {
    margin-top: -.8rem;
    margin-left: 2.82667rem;
    -webkit-transform: scale(.4);
    transform: scale(.4);
    -webkit-animation: location-10-anim .7s .4s both;
    animation: location-10-anim .7s .4s both;
}
.p10 .location-cnt .cube-cnt.cube-cnt-10 .name {
    margin-top: -1.81333rem;
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
}
@keyframes location-1-anim{
    0% {
        -webkit-transform: translate3d(0,50%,0) scale(1);
        transform: translate3d(0,50%,0) scale(1);
    }
    
    100% {
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
    }
}
@keyframes location-2-anim{
    0% {
        -webkit-transform: translate3d(0,50%,0) scale(.6);
        transform: translate3d(0,50%,0) scale(.6);
    }
    
    100% {
        -webkit-transform: translateZ(0) scale(.6);
        transform: translateZ(0) scale(.6);
    }
}
@keyframes location-3-anim{
    0% {
        -webkit-transform: translate3d(0,50%,0) scale(.4);
        transform: translate3d(0,50%,0) scale(.4);
    }
    
    100% {
        -webkit-transform: translateZ(0) scale(.4);
        transform: translateZ(0) scale(.4);
    }
}
@keyframes location-4-anim{
    0% {
        -webkit-transform: translate3d(0,50%,0) scale(.36);
        transform: translate3d(0,50%,0) scale(.36);
    }
    
    100% {
        -webkit-transform: translateZ(0) scale(.36);
        transform: translateZ(0) scale(.36);
    }
}
@keyframes location-5-anim{
    0% {
        -webkit-transform: translate3d(0,50%,0) scale(.4);
        transform: translate3d(0,50%,0) scale(.4);
    }
    
    100% {
        -webkit-transform: translateZ(0) scale(.4);
        transform: translateZ(0) scale(.4);
    }
}
@keyframes location-6-anim{
    0% {
        -webkit-transform: translate3d(0,50%,0) scale(.5);
        transform: translate3d(0,50%,0) scale(.5);
    }
    
    100% {
        -webkit-transform: translateZ(0) scale(.5);
        transform: translateZ(0) scale(.5);
    }
}
@keyframes location-7-anim{
    0% {
        -webkit-transform: translate3d(0,50%,0) scale(.3);
        transform: translate3d(0,50%,0) scale(.3);
    }
    
    100% {
        -webkit-transform: translateZ(0) scale(.3);
        transform: translateZ(0) scale(.3);
    }
}
@keyframes location-8-anim{
    0% {
        -webkit-transform: translate3d(0,50%,0) scale(.35);
        transform: translate3d(0,50%,0) scale(.35);
    }
    
    100% {
        -webkit-transform: translateZ(0) scale(.35);
        transform: translateZ(0) scale(.35);
    }
}
@keyframes location-9-anim{
    0% {
        -webkit-transform: translate3d(0,50%,0) scale(.3);
        transform: translate3d(0,50%,0) scale(.3);
    }
    100% {
        -webkit-transform: translateZ(0) scale(.3);
        transform: translateZ(0) scale(.3);
    }
}
@keyframes location-10-anim{
0% {
    -webkit-transform: translate3d(0,50%,0) scale(.4);
    transform: translate3d(0,50%,0) scale(.4);
}
100% {
    -webkit-transform: translateZ(0) scale(.4);
    transform: translateZ(0) scale(.4);
}
}
.swiper-container1{
    width: 375px;
    height: 667px;
}




